# app info
APP_NAME=PLATINUM_MAJU_JAYA
VERSION=1.0.0
PORT=3000
HOST='localhost'
# database
DB_USERNAME=postgres
DB_PASSWORD=admin
DB_HOSTNAME=localhost
DB_NAME=platinum_db
DB_DIALECT=postgres

# JWT 
JWT_KEY_SECRET = 'qwieu267^$^&^**saj!7$laJskj'