<body style="font-family: sans-serif;">
    <center>
    <div style="background-color: aliceblue ; width: 500px;">
        <div style="background-color: Magenta; padding: 5px">
            <h1><center>Trimakasih Telah Belanja di toko Kami (Maju Jaya)<br><span style="font-size: 16px; font-weight: 400; margin-top: 5px">Maju Jaya Sentosa Luar Biasa</span></center></h1>
        </div>
        <div style="color: aliceblue; padding-bottom: 10px">
        <center><p>Detail Pesanan {customerName} </center>
        
        <div>name : {customerName} </div>
        <div>username : {username}</div>
        <div>Product : {productName}</div>
        <div>Price : {productPrice}</div>
        <div>qty : {qty}</div>
        <div>total : {total_price}</div>
        <div>Order Date : {completed_date}</div>
        
        </div>
        </div>
    </center>
    </body>